.container{
  
  height:500px;
  width:500px;
  background-color: rgb(35, 156, 116);
  position:absolute;
  left:500px;
  padding:10px;
  margin:10px;
  filter: drop-shadow(10px 10px 10px #4adab8);
border-radius:4px;
}
input{
  font-size: 20px;
  padding: 5px;
  margin:10px;
  border:2px solid rgb(17, 135, 96);
}
.submit{
 background-color: #13c299;
 border-radius:4px;
}
h2{
  color:#1d6353;
}
@media(max-width:768px){
.container{
position:absolute;
left:130px;
}
}
@media(max-width:360px){
.container{
  position:absolute;
  left:4px;
 width:300px;
}
input{
  font-size:12px;
}
}